<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>
<div th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">demoses</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Главная</a></li>
                <li><a href="mail">Mail</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>